@using CommonNews.Web.ViewModels.Home
@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
}
<h1>Welcome</h1>

<hr />
<div class="row">
    @foreach (var post in Model.Posts)
    {
        @Html.Partial("_CompactPostPartial", post);
    }
</div>


