@using CommonNews.Web.ViewModels.Post
@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "All Posts";
}

<h2>All Posts</h2>

<button class="btn btn-primary create-new-post">
    @Html.ActionLink("Create New", "Create")
</button>

<div class="row category-container">
    <div class="col-ts-12 category-posts-container">
        <section id="compact-posts-container" class="row eq-height">
            @foreach (var post in Model)
            {
                @Html.Partial("_CompactPostPartial", post);
            }
        </section>
    </div>
</div>