@model CommonNews.Web.ViewModels.Comment.CommentViewModel

<div class="media">
    <div class="media-body">
        <h4 class="media-heading">@Model.AuthorUsername <span class="pull-right">@Model.CommentedOn</span></h4>
        <p>@Model.Content</p>
    </div>
</div>
<hr />