body {
    padding-bottom: 2rem;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

img.compact-post-image {
    width: 100%;
}

.post-image {
    width: 15rem;
}